*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#header{
    background-color: #0d1524;
    padding: 10px 0;
}
.nav-link{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: color 0.2s;
}
.nav-link:hover{
    color: #46c1f6;
}
.nav-link:first-child{
    font-weight:bold;
    color: #43beea;
}
header{
    margin:0;
    padding:10px 0;
}