main p {
 font-size: 16px;
 line-height: 1.6;
 color:#555;
}
nav>ul>li{
    display: inline;
    margin-right: 15px;
    border-bottom: 2px solid #2a9d8f;
}
nav+h2{
    color:#2a9d8f;
    font-size: 24px;
}
article h3~p{
    font-style: italic;
    color: #ef6f51;
}